samples/EnvironmentalMonitoringFacilities.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" xmlns:ef="http://inspire.ec.europa.eu/schemas/ef/4.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" xmlns:om="http://www.opengis.net/om/2.0" targetNamespace="http://inspire.ec.europa.eu/schemas/ef/4.0" version="4.0">
  <import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="http://inspire.ec.europa.eu/schemas/base/3.3/BaseTypes.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="http://inspire.ec.europa.eu/schemas/base2/2.0/BaseTypes2.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="AbstractMonitoringFeature" substitutionGroup="ef:AbstractMonitoringObject" type="ef:AbstractMonitoringFeatureType">
    <annotation>
      <documentation>-- Name --
abstract monitoring feature

-- Definition --
An abstract base class for environmental monitoring features in the real world (EnvironmentalMonitoringNetwork, EnvironmentalMonitoringFacility).

-- Description --</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractMonitoringFeatureType">
    <complexContent>
      <extension base="ef:AbstractMonitoringObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="reportedTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Information on the involvement of the AbstractMonitoringFeature in reporting.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ef:ReportToLegalAct"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="hasObservation" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
			<annotation>
			  <documentation>-- Definition --
Observation of emissions, of the state of environmental media and of other ecosystem parameters (biodiversity, ecological conditions of vegetation, etc.) by or on behalf of public authorities at this AbstractMonitoringFeature.</documentation>
			</annotation>
		  </element>
		  <element maxOccurs="unbounded" minOccurs="0" name="involvedIn" nillable="true">
            <annotation>
              <documentation>-- Definition --
EnvironmentalMonitoringActivity(s) in which the AbstractMonitoringFeature is involved.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:uses</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:EnvironmentalMonitoringActivity"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractMonitoringFeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="ef:AbstractMonitoringFeature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractMonitoringObject" substitutionGroup="gml:AbstractFeature" type="ef:AbstractMonitoringObjectType">
    <annotation>
      <documentation>-- Name --
abstract monitoring object

-- Definition --
An abstract base class for environmental monitoring objects.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractMonitoringObjectType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <annotation>
              <documentation>-- Definition --
Plain text denotation of the AbstractMonitoringObject.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="additionalDescription" nillable="true">
            <annotation>
              <documentation>-- Definition --
Plain text description of additional information not fitting in other attributes.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="mediaMonitored" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Monitored environmental medium.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="legalBackground" nillable="true">
            <annotation>
              <documentation>-- Definition --
The legal context, in which the management and regulation of the AbstractMonitoringObject is defined.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="base2:LegislationCitation"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" nillable="true">
            <annotation>
              <documentation>-- Definition --
Responsible party for the AbstractMonitoringObject.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base2:RelatedParty"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="geometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
Geometry associated to the AbstractMonitoringObject.
For mobile facilities the geometry represents the area the facility is expected to measure in.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="onlineResource" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link to an external document providing further information on the AbstractMonitoringObject.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="anyURI">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="purpose" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Reason for which the AbstractMonitoringObject has been generated.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="observingCapability">
            <annotation>
              <documentation>-- Definition --
A link pointing to the explicit capability of an AbstractMonitoringObject. This provides a clean link between the observed property, the procedure used as well as the location of the measurement</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="ef:ObservingCapability"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="broader" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to a broader AbstractMonitoringObject (a higher level in a hierarchical structure).
The association has additional
properties as defined in the
association class Hierarchy.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:narrower</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:Hierarchy"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="narrower" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to narrower AbstractMonitoringObject(s) (a lower level in a hierarchical structure).
The association has additional
properties as defined in the
association class Hierarchy.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:broader</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:Hierarchy"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="supersedes" nillable="true">
            <annotation>
              <documentation>-- Definition --
In a genealogy, the AbstractMonitoringObject(s) that has(have) been deactivated/replaced by another one.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:supersededBy</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:AbstractMonitoringObject"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="supersededBy" type="ef:AbstractMonitoringObjectPropertyType">
            <annotation>
              <documentation>-- Definition --
In a genealogy, the newly active AbstractMonitoringObject(s) that replaces(replace) the superseded one.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:supersedes</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractMonitoringObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:AbstractMonitoringObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AnyDomainLink" substitutionGroup="gml:AbstractGML" type="ef:AnyDomainLinkType">
    <annotation>
      <documentation>-- Name --
any domain link

-- Definition --
Any domain relevant link to an EnvironmentalMonitoringFacility that is not hierarchical or associated with a notion of genealogy.</documentation>
    </annotation>
  </element>
  <complexType name="AnyDomainLinkType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="comment" nillable="true">
            <annotation>
              <documentation>-- Definition --
Additional information on the domain link.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="relatedTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Any Thematic Link to an Environmental Monitoring Facility.
The association has additional properties as defined in the association class AnyDomainLink.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:EnvironmentalMonitoringFacility"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnyDomainLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:AnyDomainLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EnvironmentalMonitoringActivity" substitutionGroup="gml:AbstractFeature" type="ef:EnvironmentalMonitoringActivityType">
    <annotation>
      <documentation>-- Name --
environmental monitoring activity

-- Definition --
Specific set of AbstractMonitoringFeatures used for a given domain in a coherent and concise timeframe, area and purpose. Usually the information collected is treated as one time step in a long term monitoring programme. It is a concrete realisation of a given EnvironmentalMonitoringProgramme.

-- Description --
For example a vessel could be equipped with a collection of EnvironmentalMonitoringFacilities for a given campaign (= EnvironmentalMonitoringActivity) fulfilling an EnvironmentalMonitoringProgramme requirements. Then, after a given period this exact same vessel could be equipped with another set of EnvironmentalMonitoringFacilities for another campaign fulfilling another EnvironmentalMonitoringProgramme requirements.</documentation>
    </annotation>
  </element>
  <complexType name="EnvironmentalMonitoringActivityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="activityTime" nillable="true">
            <annotation>
              <documentation>-- Definition --
Lifespan of the EnvironmentalMonitoringActivity.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="gml:AbstractTimeObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="activityConditions" nillable="true">
            <annotation>
              <documentation>-- Definition --
Textual description of the EnvironmentalMonitoringActivity.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="boundingBox" nillable="true">
            <annotation>
              <documentation>-- Definition --
Bounding box in which the EnvironmentalMonitoringActivity takes place. 

-- Description --
EXAMPLE: If a research vessel has several monitoring activities (EnvironmentalMonitoringActivity) one wants to know where he cruised for each of those (EnvironmentaMonitoringActivity).</documentation>
            </annotation>
          </element>
          <element name="responsibleParty" nillable="true">
            <annotation>
              <documentation>-- Definition --
Responsible party for the EnvironmentalMonitoringActivity.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base2:RelatedParty"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="onlineResource" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link to an external document providing further information on the EnvironmentalMonitoringActivity.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="anyURI">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="setUpFor" nillable="true">
            <annotation>
              <documentation>-- Definition --
EnvironmentalMonitoringProgramme(s) for which the EnvironmentalMonitoringActivity is set up.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:triggers</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:EnvironmentalMonitoringProgramme"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="uses" type="ef:AbstractMonitoringFeaturePropertyType">
            <annotation>
              <documentation>-- Definition --
Specific set of AbstractMonitoringFeature(s) involved in an EnvironmentalMonitoringActivity.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:involvedIn</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvironmentalMonitoringActivityPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:EnvironmentalMonitoringActivity"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EnvironmentalMonitoringFacility" substitutionGroup="ef:AbstractMonitoringFeature" type="ef:EnvironmentalMonitoringFacilityType">
    <annotation>
      <documentation>-- Name --
environmental monitoring facility

-- Definition --
A georeferenced object directly collecting or processing data about objects whose properties (e.g. physical, chemical, biological or other aspects of environmental conditions) are repeatedly observed or measured. An environmental monitoring facility can also host other environmental monitoring facilities.

-- Description --
NOTE 1: An EnvironmentalMonitoringFacility is not a facility in the common INSPIRE sense realised by the Generic Conceptual Model class ActivtiyComplex.

NOTE 2: Laboratories are not EnvironmentalMonitoringFacilities from an INSPIRE perspective as the exact location of the laboratory does not add further information to the measurement. 
The methodology used in the laboratory should be provided with observational data.</documentation>
    </annotation>
  </element>
  <complexType name="EnvironmentalMonitoringFacilityType">
    <complexContent>
      <extension base="ef:AbstractMonitoringFeatureType">
        <sequence>
          <element minOccurs="0" name="representativePoint" nillable="true" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Definition --
Representative location for the EnvironmentalMonitoringFacility.

-- Description --</documentation>
            </annotation>
          </element>
          <element name="measurementRegime" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Regime of the measurement</documentation>
            </annotation>
          </element>
          <element name="mobile" nillable="true">
            <annotation>
              <documentation>-- Definition --
Indicate whether the EnvironmentalMonitoringFacility is mobile (repositionable) during the acquisition of the observation.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="boolean">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="resultAcquisitionSource" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Source of result acquisition</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="specialisedEMFType" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Categorisation of EnvironmentalMonitoringFacilities generally used by domain and in national settings.

-- Description --
EXAMPLE: platform, site, station, sensor, ...</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="operationalActivityPeriod" nillable="true">
            <annotation>
              <documentation>-- Definition --
Lifespan of the physical object (facility).</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="ef:OperationalActivityPeriod"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
		  <element maxOccurs="unbounded" minOccurs="0" name="relatedTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
Any Thematic Link to an Environmental Monitoring Facility.
The association has additional properties as defined in the association class AnyDomainLink.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:AnyDomainLink"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="belongsTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringNetwork(s) this EnvironmentalMonitoringFacility pertains to.
The association has additional properties as defined in the association class NetworkFacility.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:contains</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:NetworkFacility"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvironmentalMonitoringFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:EnvironmentalMonitoringFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EnvironmentalMonitoringNetwork" substitutionGroup="ef:AbstractMonitoringFeature" type="ef:EnvironmentalMonitoringNetworkType">
    <annotation>
      <documentation>-- Name --
environmental monitoring network

-- Definition --
Administrative or organisational grouping of EnvironmentalMonitoringFacilities managed the same way for a specific purpose, targeting a specific area. Each network respects common rules aiming at ensuring coherence of the observations, especially for purposes of EnvironmentalMonitoringFacilities, mandatory parameters selection, measurement methods and measurement regime.</documentation>
    </annotation>
  </element>
  <complexType name="EnvironmentalMonitoringNetworkType">
    <complexContent>
      <extension base="ef:AbstractMonitoringFeatureType">
        <sequence>
          <element name="organisationLevel" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
Level of legal organisation the EnvironmentalMonitoringNetwork is affiliated with.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="contains" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringFacility(s) included in this EnvironmentalMonitoringNetwork.
The association has additional properties as defined in the association class NetworkFacility.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:belongsTo</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:NetworkFacility"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvironmentalMonitoringNetworkPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:EnvironmentalMonitoringNetwork"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EnvironmentalMonitoringProgramme" substitutionGroup="ef:AbstractMonitoringObject" type="ef:EnvironmentalMonitoringProgrammeType">
    <annotation>
      <documentation>-- Name --
environmental monitoring programme

-- Definition --
Framework based on policy relevant documents defining the target of a collection of observations and/or the deployment of AbstractMonitoringFeatures on the field. 
Usually an Environmental Monitoring Programme has a long term perspective over at least a few years.</documentation>
    </annotation>
  </element>
  <complexType name="EnvironmentalMonitoringProgrammeType">
    <complexContent>
      <extension base="ef:AbstractMonitoringObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="triggers" type="ef:EnvironmentalMonitoringActivityPropertyType">
            <annotation>
              <documentation>-- Definition --
EnvironmentalMonitoringActivity(s) triggered by the EnvironmentalMonitoringProgramme.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:setUpFor</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvironmentalMonitoringProgrammePropertyType">
    <sequence minOccurs="0">
      <element ref="ef:EnvironmentalMonitoringProgramme"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Hierarchy" substitutionGroup="gml:AbstractGML" type="ef:HierarchyType">
    <annotation>
      <documentation>--Name --
hierarchy

-- Definition --
Hierachical link between AbstractMonitoringObjects.</documentation>
    </annotation>
  </element>
  <complexType name="HierarchyType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="linkingTime" nillable="true">
            <annotation>
              <documentation>-- Definition --
Time period of the link.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="gml:AbstractTimeObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="broader" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to a broader AbstractMonitoringObject (a higher level in a hierarchical structure).
The association has additional
properties as defined in the
association class Hierarchy.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:narrower</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:AbstractMonitoringObject"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element name="narrower" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to narrower AbstractMonitoringObject(s) (a lower level in a hierarchical structure).
The association has additional
properties as defined in the
association class Hierarchy.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:broader</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:AbstractMonitoringObject"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HierarchyPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:Hierarchy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NetworkFacility" substitutionGroup="gml:AbstractGML" type="ef:NetworkFacilityType">
    <annotation>
      <documentation>-- Name --
network facility

-- Definition --
Link between EnvironmentalMonitoringNetwork and EnvironmentalMonitoringFacility.</documentation>
    </annotation>
  </element>
  <complexType name="NetworkFacilityType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="linkingTime" nillable="true">
            <annotation>
              <documentation>-- Definition --
Time period of the link.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="gml:AbstractTimeObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="belongsTo" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringNetwork(s) this EnvironmentalMonitoringFacility pertains to.
The association has additional properties as defined in the association class NetworkFacility.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:contains</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:EnvironmentalMonitoringNetwork"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element name="contains" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringFacility(s) included in this EnvironmentalMonitoringNetwork.
The association has additional properties as defined in the association class NetworkFacility.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:belongsTo</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ef:EnvironmentalMonitoringFacility"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:NetworkFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ObservingCapability" substitutionGroup="gml:AbstractFeature" type="ef:ObservingCapabilityType">
    <annotation>
      <documentation>-- Name --
observing capability

-- Definition --
Explicit capability of an AbstractMonitoringObject.</documentation>
    </annotation>
  </element>
  <complexType name="ObservingCapabilityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="observingTime" nillable="true">
            <annotation>
              <documentation>-- Definition --
Describes the time period that observations can be expected from this AbstractMonitoringObject. Can be only a start time for running measurements or an interval.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="gml:AbstractTimeObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="processType" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The type of object used for describing the process.</documentation>
            </annotation>
          </element>
          <element name="resultNature" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
State of the provided result.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="onlineResource" nillable="true">
            <annotation>
              <documentation>-- Definition --
A link to an external document providing further information about an ISO 19156 'Observations and Measurements' compliant data model used to store or exchange Observations and Measurements acquired.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="anyURI">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="procedure" type="om:OM_ProcessPropertyType">
            <annotation>
              <documentation>-- Definition --
Link to the Process used to generate the result. The OM_Process shall be suitable for the observed property. As a corollary, details of the observed property are constrained by the procedure used.</documentation>
            </annotation>
          </element>
          <element name="featureOfInterest" type="gml:FeaturePropertyType" nillable="true" minOccurs="0">
            <annotation>
              <documentation>-- Definition --
This feature is the real-world object whose properties are under observation, or is a feature intended to sample the real-world object</documentation>
		    </annotation>
		  </element>
          <element name="observedProperty" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The property being observed or measured at this AMO.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ObservingCapabilityPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:ObservingCapability"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="OperationalActivityPeriod" substitutionGroup="gml:AbstractFeature" type="ef:OperationalActivityPeriodType">
    <annotation>
      <documentation>-- Name --
operational activity period

-- Definition --
Corresponds to a period during which the EnvironmentalMonitoringFacility has been up and running.</documentation>
    </annotation>
  </element>
  <complexType name="OperationalActivityPeriodType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="activityTime">
            <annotation>
              <documentation>-- Definition --
Lifespan of the OperationalActivityPeriod.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="gml:AbstractTimeObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OperationalActivityPeriodPropertyType">
    <sequence minOccurs="0">
      <element ref="ef:OperationalActivityPeriod"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ReportToLegalAct" substitutionGroup="gml:AbstractObject" type="ef:ReportToLegalActType">
    <annotation>
      <documentation>-- Name --
report to legal act

-- Definition --
Information on the involvement of an AbstractMonitoringFeature in reporting. The information is specific per submitted reporting envelope and not per obligation/agreement.

-- Description --
From INSPIRE perspective, an AbstractMonitoringFeature requires the provision of  ISO 19156 compliant observations &amp; measurements only in the case that these have been required by a legal reporting obligation or a commonly agreed voluntarily data flow using INSPIRE EF dataspecification for the definition of datastructure.</documentation>
    </annotation>
  </element>
  <complexType name="ReportToLegalActType">
    <sequence>
      <element name="legalAct">
        <annotation>
          <documentation>-- Definition --
LegalAct which is reported to.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="base2:LegislationCitation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="reportDate" nillable="true">
        <annotation>
          <documentation>-- Definition --
Time of reporting.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="reportedEnvelope" nillable="true">
        <annotation>
          <documentation>-- Definition --
Link to the reported data set according to the date indicated in the attribute reportDate.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="anyURI">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="observationRequired" nillable="true">
        <annotation>
          <documentation>-- Definition --
Indicates whether an observation is required for the AbstractMonitoringFeature.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="boolean">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="observingCapabilityRequired" nillable="true">
        <annotation>
          <documentation>-- Definition --
Indicates whether the observingCapability is required for the AbstractMonitoringFeature.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="boolean">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="description" nillable="true">
        <annotation>
          <documentation>-- Definition --
Additional information on the actual data reported.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ReportToLegalActPropertyType">
    <sequence>
      <element ref="ef:ReportToLegalAct"/>
    </sequence>
  </complexType>
</schema>
